@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url(https://fonts.gstatic.com/s/firasans/v8/va9C4kDNxMZdWfMOD5VvkrjJYTI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v8/va9E4kDNxMZdWfMOD5Vvl4jL.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(https://fonts.gstatic.com/s/firasans/v8/va9B4kDNxMZdWfMOD5VnLK3eRhf6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, small, strike, strong, sub, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, .column {
  display: block;
}
* {
  box-sizing: border-box
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
}

.main a:hover {
  text-decoration: underline
}

html {
  height: 100%;
}
body {
  display:flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Fira Sans",
               -apple-system,
               "BlinkMacSystemFont",
               "Segoe UI",
               "Roboto",
               "Oxygen-Sans",
               "Ubuntu",
               "Cantarell",
               "Helvetica Neue",
               sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.45;
}
.main .content {
  font-size: 1.1em;
  width: 100vw;
  max-width: 32.5em;
  margin: 0 auto
}
.main .has-img-content {
  max-width: 100%
}
.container, .main {
  display: flex
}
.heading-initial {
  display: inline;
  font-size: 1em
}
.front-main .container {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 773 773'%3E%3Cg fill-rule='evenodd' stroke='%23eee' fill='%23eee'%3E%3Cpath stroke-width='3' d='M385.4.7C341.7.3 271 9.2 228.5 64.5c-53.6 69.9.6 162 .6 162l.2-.7s7.9-30.7-1.4-48.7c-12-23-5.3-48.9-5.3-48.9s7-21.3 7.6-13.9c1.2 14 17.6 59.2 17.8 69.4.2 10.1-1.5 38.1-7.2 52.1a154 154 0 0 0-12.5 52.6c-3.2 29.6 46.4 43.4 46.4 43.4s25.4 4.5 30.5 28c5.1 23.5 27.4 27 27.4 27s25.6 4.6 50 4.6c24.5 0 47.3-4.7 59.6-11 12.3-6.4 14-21 14-21s3.6-15.8 16.3-18.5c33.7-7 56-25.4 56-25.4s9.2-9 10.3-27.3a53.6 53.6 0 0 0-10.2-31.6s-8.6-18.9-10.1-54.5 17-96.9 17-96.9c13 15.1 6.8 58.7 6.8 58.7s1 19.9-6.1 40.8c-7.1 21 2.2 30 2.2 30s23.5-43.9 25.8-80.8C571.9 30 423.7 3.7 423.7 3.7S408.3.9 385.4.7zM448 185a68 68 0 0 1 27.9 6.1s31.7 9.8 23.4 64.5c-8.2 54.8-60.2 31.8-60.2 31.8s-44.3-15.3-29.8-68.6c7.3-26.6 24-33.5 38.7-33.8zm-139 2.8a64.4 64.4 0 0 1 34.6 9c2.3 2.5 20.4 13.5 10 60-9.4 42.3-53.8 40.3-53.8 40.3s-48.7-.2-34.7-66.3c7-33.3 26.3-42.5 44-43zm73 87.2c2.3 0 4.8.8 7.5 2.8 17 12.7 31.4 62 31.4 62S424 356.4 409 357s-26-29-26-29-11.2 39-27.9 28.3c-18.3-11.8 5-57 5-57S369 275 381.8 275z'/%3E%3Cpath stroke-width='2' d='M463.9 541.4a79.8 79.8 0 0 0-47 15.4c-6.6 4.9-38 14.2-55 4.8-26.5-16.3-44.7-18.7-44.7-18.7s-38.9-9.3-64.5 24.7-32.8 64.6-32.8 64.6-7.7 41-8.9 68c-1.2 27 11.6 56 11.6 56s16.3 29.5 42 8C290.6 742.4 304 727 304 727s38.8 36.8 58.6-16.5h44.2a35 35 0 0 0 33 28.3c15.6.8 25.8-11 25.8-11s44.6 55.5 68.1 43c23.6-12.5 23.6-45 23.6-45s3.1-30.2-.5-57.6c-3.6-27.3-15.2-60-15.2-60s-22.7-58.5-66.6-66c-3.6-.5-7.3-.8-11.1-.8zm8.4 35.8h.5a15 15 0 1 1-.5 0zm-171.8 9c11.5 0 10.8 5.9 10.8 5.9l-.2 20.7 20.6.3c5 0 6 4.8 6 16.3 0 11.4-6 10.7-6 10.7h-20.4l-.3 20.4c0 5-4.8 6-16.3 6-11.4 0-10.7-6-10.7-6v-20.3l-20.4-.3c-5 0-6-4.9-6-16.3s6-10.8 6-10.8l20.3.2.3-21c0-4.8 4.9-5.9 16.3-5.9zm138.6 24.6h.5a15 15 0 1 1-.5 0zm67.2 0h.5a15 15 0 1 1-.5 0zm-33.9 33.4a15 15 0 0 1 .4 30h-.5a15 15 0 1 1 .1-30zm-31.2 41.7a20 20 0 0 1 .5 40h-.7a20 20 0 1 1 .2-40zm-111 0a20 20 0 0 1 .5 40h-.7a20 20 0 1 1 .2-40z'/%3E%3Cpath stroke-width='3' d='M248.5 452.9l-51.3 18.5-24.8 10.7c-7.7 3.4-26-7.7-26-7.7-8.4-6.7-24 .8-18 9.6 13.8 20.1 33.9 54.9 44.2 38 9-14.5 12-18 18.6-21.6l73.1-29zM512 455.6l54.3 26.8 25 10.7c7.6 3.4 24.7-3.3 24.7-3.3 8.4-6.8 24 .7 18 9.6-13.8 20-17 55.4-32 42.6-13-10.9-15-16.6-28.2-25.9l-70.1-41.5z'/%3E%3Cpath stroke-width='2' d='M526.4 367.5s-.5-33.8 42.4-43.5c60.8-13.8 45.2-46.5 69.9-49.1 15-1.6 4.6 36.4 4.6 36.4s-2.5 4.6 5.9 8.5c8.4 3.9 10.4 9.7 10.4 9.7s.8 12-10 13.1c-10.9 1.1-19.4-15.6-30.2-11.7l-93 36.6zM499 351.6s-7.5 26.8-7 58c.4 29.8-5.5 35.6-5.5 35.6a217.1 217.1 0 0 1-41.5 43s-28.7 22.5-62.3 22.3c-33.7-.3-86-44.8-86-44.8s-23.2-19.2-24-27c-1-7.7-2.6-50.3-2.6-50.3s-1.4-28.5-7.1-34.9c-5.8-6.4 11.8 4.7 11.8 4.7l8 3.7 3.3 16 2.7 36.2s20.4 52.9 93.9 51.9c73.4-1 89.5-57 89.5-57s4.3-12.3 4.6-33.2c.1-15.2 22.2-24.2 22.2-24.2z'/%3E%3Cpath d='M298.7 387s2.3 2.2 7.6 3.7l-.5 15.5-7-3.1zM311.3 392l10.2 3.2-.6 17-9.6-2.6zM327.8 395l11.9 3.2v20.2l-12.3-2.2zM346.6 399.6l11.9 1.4v21.3l-12.1-2.6zM366.4 402.4h12.2l-.2 24.7-12.3-1.1zM386.2 402.7h13.2V427h-12.9zM311.4 417.7c.1.1 5.4 2.5 9.6 2.5v16s-9.8-5.4-10-6.9c-.3-1.5.4-11.6.4-11.6zM327.8 424l10.7 3.4v17.4l-11-1.7zM346.8 428.8l11.5 2.7v22l-12.2-3.3zM366.5 433.6h13.3v20.8h-13.7zM467.9 386.3s-2.2.9-7.5 2.4l.5 15.4 7-3zM456.2 390.7l-10.2 3.1.6 17 9.6-2.5zM438.9 395.2l-11.7 2.6V418l12.3-2.3zM420.3 399.1l-11.9 1.4v21.3l12.1-2.6z'/%3E%3Cpath stroke-width='1.2' d='M456.2 418.2c-.2.1-3.6 2.3-8.8 3.4l.5 16s8.5-5 8.8-6.7c.3-1.7-.5-12.7-.5-12.7z'/%3E%3Cpath d='M439.7 424l-10.7 3.4.6 18.2 10.4-2.5zM420.7 428.7l-11.6 2.7v22l12.2-3.3zM400 433.7h-13.3v20.8h13.8zM234.2 356.5s0-28.7-36.2-40.4c-30.8-9.9-48.9-34.4-48.9-34.4s-7.5-15.8-23.2 7.5c-17 25.2-13.2 26.3-13.2 26.3s1 13.4 17.4 5 40.9 6.1 40.9 6.1z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right
}
.front-main .container, .feed {
  padding: 1em 2em
}
.header {
  width: 100%;
  bottom: 0;
  padding: .7em 0;
  z-index: 2
}
.header nav ul {
  list-style: none;
  text-align: center
}
.header li {
  display: inline-block
}
.header li a {
  padding: 1em .55em;
}
.header li:first-child a {
  padding-left: .9em;
}
.main-page {
  font-style: italic
}
.header nav ul li:first-child {
  margin-left: 0
}
.header nav ul li:last-child {
  margin-right: 0
}
.header nav ul a {
  font-size: .875em;
  text-transform: uppercase
}
.main, .main .content .title-container {
  margin: 0 auto
}
.main .content .page-heading {
  margin: 0 0 .2em 0;
}
.main .content .meta {
  margin-bottom: 2em;
}
.middot:before {
  font-size: 1em;
  line-height: .6em;
  vertical-align: middle;
  margin: 0 0.375em;
  content: "•";
}
.groupby {
  font-size: 1.2em;
  margin-top: 1em;
}
.see-more {
  font-style: italic;
  float: right;
  font-size: 0.9em;
  margin-top: 2em;
}
.header nav ul {
text-align: left;
}
.main {
  margin: 2em auto 4.625em auto
}
footer {
  float: right;
  margin-left: auto;
  margin-right: 1em
}
a, time {
  -webkit-transition: color, background 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -ms-transition: color, background 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  transition: color, background 0.1s cubic-bezier(0.47, 0, 0.75, 0.72)
}
img {
  max-width: 100%;
}
.main .content>.markdown>p:first-child {
  margin-top: .5em
}

@media (min-width: 769px) {
  .other-projects {
    max-width: 57em;
    margin: 1em 12em 0 -12em
  }
  .main .has-img-content {
    max-width: 57vw;
  }
  .front-matter, aside, figcaption, .text, .has-img ol, .has-img ul, .has-img h2, .has-img blockquote {
    display: block;
    float: left;
    width: 13em;
    margin-left: -14.5em;
    text-align: right;
    list-style-type: none;
  }
  .narrow .content {
    padding-top: 1.5em;
    margin-left: 13em
  }
}

.markdown.desc {
  font-size: 1.15em
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.75em;
}
h1 {
  line-height: 1;
  font-size: 2em;
  margin: 0 0 .25em 0
}
h2 {
  font-size: 1.75em;
  margin: .2em 0 .2em 0;
}
h3, h4, h5, h6 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.main .content .markdown p {
  margin-bottom: .75em
}
.main .content .markdown .text {
  margin-bottom: .25em
}
.main .content .markdown ul,
.main .content .markdown ol,
.main .content .markdown dl {
  margin-top: 1em;
  margin-bottom: 2em;
}
.main .content .markdown dt {
  font-weight: bold;
}
.main .content .markdown dd {
  margin-bottom: .5em;
}
.posts {
  display: inline-block;
  position: relative;
  width: 100%;
}
.front-posts img {
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: auto;
  z-index: -1;
}
.other-projects {
  font-size: 1.1em;
  width: 100%;
}
.feed {
  text-align: left
}
.post-item {
  min-width: 15em;
  max-width: 20em;
  display: inline-block;
  margin: 0 1em 1em 0;
  vertical-align: top;
}
@media (max-width: 70em) {
  .post-item {
    width: 31%;
    margin-right: 1%
  }
}
@media (max-width: 55em) {
  .post-item {
    width: 48%
  }
}
@media (max-width: 35em) {
  .post-item {
    width: 98%;
    min-width: auto;
    display: block;
    margin: 0 auto 1em auto
  }
  .feed h1 {
    display: block;
    width: 100%;
    max-width: 20em;
    margin: 0 auto
  }
  .feed, .front-main .container {
    padding: .5em
  }
}
.other-projects .post-item {
  padding: 0 1em 0 0
}
.other-projects .post-item, .other-projects h2 {
  display: inline-block
}
.front-main .content {
  display: block;
  min-height: 10em;
  margin: 1em 0 1em 0;
  font-size: 1.5em;
}
.posts ul {
  margin-top: 1em
}
.other-projects ul {
  display: inline;
  margin: 0
}
.posts a, .posts li>a {
  display: inline-block;
  background: rgba(74,67,72,.75);
  padding: 0.15em 0.4em 0.15em 0.4em;
  margin: .2em;
}
.other-projects a, .other-projects li>a {
  background: rgba(0,0,0,0.1);
  margin: 0;
  margin-right: .4em
}
.posts a:hover {
  background: #4a4348
}
.main .content .markdown ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-bottom: 1.25em;
}
.main .content .markdown ol {
  list-style-type: decimal;
  margin-bottom: 1.25em;
}
.main .content .markdown li {
  margin-left: 1em;
}
hr {
  position: relative;
  margin: 1.75em 0;
  border: 0;
  border-top: 1px solid #999;
}
.main .content .markdown abbr {
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
}
.main .content .markdown blockquote {
  padding: .5em 1em;
  margin: .8em 0;
  border-left: .25em solid #e5e5e5;
}
.main .content .markdown blockquote p:last-child {
  margin-bottom: 0;
}
.img, .main .markdown .img {
  width: 100%;
  background: rgba(0,0,0,.05);
}
.img-inner {
  margin: 0 auto;
}
.img-inner img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
  position: static;
  margin: auto;
  max-height: calc(100vh - 4em)
}
.full-height img {
  max-height: 100%
}
.img {
  display: block;
  width: auto;
}
.row-img {
  display: table-cell
}
.copyright, .middot, .inlineblock, footer, .header nav {
  display: inline-block
}
.header .mobile-show, .mobile-show {
  display: none
}
@media (max-width: 768px) {
  .front-main .container {
    background-image: none
  }
  .front-main .content {
    min-height: 100%;
  }
  .main {
    margin: 1.5em .6em 3.875em .6em
  }
  .front-posts img {
    height: 75vw
  }
  footer .middot {
    display: none
  }
  .header nav .mobile-show {
    display: inline-block
  }
}

@media (max-width: 600px) {
  .main {
    padding-top: 0;
  }
  .post-item .meta {
    display: block;
  }
  .main .content .markdown blockquote {
    padding-right: 5em;
    padding-left: 1.25em;
  }
}

@media (max-width: 510px) {
  .copyright {
    display: none
  }
}
@media (max-width: 370px) {
  .header li a {
    padding: 1em .5em;
  }
  .header {
    padding: .66em .3em .66em .3em;
  }
  .header nav {
    padding-right: 1em
  }
}
@media (max-width: 277px) {
  .header li a {
    padding-bottom: 0;
    padding-top: .5em
  }
  .main {
    margin-bottom: 4.25em
  }
}
@media (max-width: 260px) {
  .front-main .mobile-show {
    margin-left: 1em
  }
  .front-main {
    padding: 0 1em
  }
  .post-item {
    padding: 0
  }
}
.youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000
}
.youtube:hover .yt {
  fill: #f00;
  fill-opacity: 1
}
.yt {
  transition: fill .1s cubic-bezier(0.4,0.0,1,1),fill-opacity .1s cubic-bezier(0.4,0.0,1,1)
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.youtube img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
}
.youtube .play {
  height: 48px;
  width: 68px;
  left: 50%;
  top: 50%;
  margin-left: -34px;
  margin-top: -24px;
  position: absolute;
  cursor: pointer;
}
code {
  padding: 0 .3em;
  background: rgba(255,255,255,.1)
}
